{% extends 'frontend/base.html' %} {% load static %} {% block title %}home{% endblock %} {% block content %}

<div class="jumbotron">
    <h2 class="display-3">ASGARDEN</h2>
    <p class="lead" style="font-size:200%; color:green">A web for cactus lovers</p>
    <p class="lead">Astrophytum myriostigma</p>
    <p>
        <img style="width: 250px;" src="{% static 'images/1.jpg '%}" />
    </p>
    <p class="lead">Echinocactus grusonii </p>
    <p>
        <img style="width: 250px;" src="{% static 'images/2.jpg '%}" />
    </p>
    <p class="lead">Eriocactus leninghausii</p>
    <p>
        <img style="width: 250px;" src="{% static 'images/3.jpg '%}" />
    </p>
    <p class="lead">Echinopsis calochlora</p>
    <p>
        <img style="width: 250px;" src="{% static 'images/4.jpg '%}" />
    </p>
    <p class="lead">Echinopsis subdenudata</p>
    <p>
        <img style="width: 250px;" src="{% static 'images/5.jpg '%}" />
    </p>
    <p class="lead">Dolichothele longimamma</p>
    <p>
        <img style="width: 250px;" src="{% static 'images/6.jpg '%}" />
    </p>
    <p class="lead">Mammillaria scrippsiana</p>
    <p>
        <img style="width: 250px;" src="{% static 'images/7.jpg '%}" />
    </p>
    <p class="lead">Mammillaria bocasana</p>
    <p>
        <img style="width: 250px;" src="{% static 'images/8.jpg '%}" />
    </p>
</div>
{% endblock %}